body {
    background-image: url('img/bolty.png');
    background-repeat: repeat;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Times New Roman', serif;
    color: white;
    font-size: 48px;
}

.center-text {
    text-align: center;
}
